@model List<WebApplication5.Models.Flower>

    @{
        ViewBag.Title = "Mothersday";
    }

<div class ="firstphotos">

    @foreach (var product in Model)
    {
        <div class ="first">
            <h3>@product.Name</h3>
        </div>
        

    }

</div>

   
