@model.List<WebApplication5.Models.Flower>

@{
    ViewBag.Title = "WrappingAdd";
}




<form action="/StoreWrappping" method="post"enctype="multipart/form-data">
    <fieldset>
        Occasions: <select id="Event" name="Event">

            <option value="Birthday">Birthday</option>
            <option value="Goodbye">Goodbye</option>
            <option value="Mother's day<">Mothersday</option>
            <option value="Wedding">Wedding</option>
        </select>   
    </fieldset>

    Wrapping Name <input type="text" name="wrappingname" />
    Upload Image<input id="WrappingImage" type ="file" name="file"/>
    <input type="submit" name="submit" id="Submit" value="Üpload"/>
</form>